.main-container {
  width: 100%;

}

.canvas-stack {
  position: absolute;
  top: 0;
  left: 0;
  width: 253px;
  height: 437px;
  background-color: transparent;
}

.main-canvas {
  border: 1px solid black;
  z-index: 2;
}

.secondary-canvas {
  margin: 1px; /* to match the bordered main-canvas */
  z-index: 1;
}

.info-container {
  font-family: monospace;
  font-size: 14px;
  padding-right: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.controls-container {

}

.points {
    margin-top: 10px;
}

.points-title {

}

.points-value {

}

.next-shape {

}

.next-shape-title {

}

.next-shape-canvas {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.level {
    margin-top: 5px;
}

.level-title {
    text-align: center;
}

.level-value {
    text-align: center;
    display: block;
}

.control-btn {
  border: 1px solid black;
  border-radius: 40px;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: gainsboro;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.btn-label {
  text-align: center;
  margin-top: 35%;
}

.move-left-btn {
  bottom: 0;
  left: 0;
}
.move-right-btn{
bottom: 0;
  left: 80px;
}
.rotate-btn {
bottom: 0;
  right: 80px;
}
.drop-btn {
  bottom: 0;
  right: 0;
}
.modal-overlay {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
.modal-container {
  position: relative;
  z-index: 101;
  width: 170px;
  height: 210px;
  border: 5px solid gray;
  border-radius: 33px;
  background-color: white;
  text-align: center;
  margin: auto;
  margin-top: 65px;
  font-family: monospace;
}
.modal-title {
font-weight: bold;
    margin-top: 15px;
    font-size: 15px;
    padding-bottom: 13px;
}

.modal-option {
padding: 9px;
    border: 1px solid;
    width: 100px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 16px;
    background-color: gainsboro;
    
}
.modal-highscore {

}
.highscore-text {

}
.hidden {
  visibility: hidden;
}
.menu-btn {
    border: 1px solid;
    background-color: gainsboro;
    text-align: center;
    border-radius: 4px;
    height: 30px;
    padding-top: 12px;
    margin-top: 15px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
